<button type="button" class="btn btn-danger" onclick="window.location.href='#!/'">Trở về</button>
<div class="row" ng-init="GetAll()">
    <!-- Modal -->
    <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Cập nhật thông tin nhân viên
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên loại</label>
                            <input type="text" class="form-control" ng-model="category.Category_Name"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Alias</label>
                            <input type="text" class="form-control" ng-model="category.Category_Alias"/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Content</label>
                            <input type="text" class="form-control" ng-model="category.Category_Content"/>
                        </div>
                    </form>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="Update()" data-dismiss="modal">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal -->
    <div class="panel-heading">Tìm chức vụ: <input type="text" ng-model="fCate" /></div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">THÔNG TIN LOẠI SẢN PHẨM</h4>
        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped table-bordered table-hover no-margin">
                <thead>
                    <tr>
                        <th> Mã loại</th>
                        <th> Tên loại</th>
                        <th> Alias</th>
                        <th> Thông tin</th>
                        <th> Task</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in data|filter:fCate">
                        <td>{{c.Category_Id}}</td>
                        <td>{{c.Category_Name}}</td>
                        <td>{{c.Category_Alias}}</td>
                        <td>{{c.Category_Content}}</td>
                        <td>
                            <div class="col-lg-offset-2">
                                <input value="Xóa" class="btn btn-warning" ng-click="Remove($index)" type="button" />
                                <input value="Sửa" class="btn btn-info" type="button" ng-click="Edit(c,$index)" data-toggle="modal" data-target="#myModalNorm" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm loại SP</h3>
        </div>
        <br />
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-4">Tên loại:</div>
                    <div class="col-lg-8"><div class="col-lg-8"><input class="form-control input-sm" type="text" ng-model="addcategory.Category_Name" /></div></div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-4">Alias:</div>
                    <div class="col-lg-8"><div class="col-lg-8"><input class="form-control input-sm" type="text" ng-model="addcategory.Category_Alias" /></div></div>
                </div>
                <div class="col-lg-6" style="margin-top: 11px">
                    <div class="col-lg-4">Content:</div>
                    <div class="col-lg-8"><div class="col-lg-8"><input class="form-control input-sm" type="text" ng-model="addcategory.Category_Content" /></div></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-offset-5">
                    <input type="button" class="btn btn-success" style="width:80px;" ng-click="Add()" value="Thêm" />
                </div>
            </div>
        </div>
    </div>
</div>