<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"> QUẢN LÝ DANH MỤC</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th> DANH MỤC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a class="font-weight-bold" href="#!Product">Quản Lý sản phẩm</a></td>
                    </tr>
                    <tr>
                        <td><a class="font-weight-bold" href="#!Category">Quản Lý loại sản phẩm</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>